<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="hello-text">
                <h1>Hi, <br>
                    <span>Welcome</span>
                </h1>
                <p>To the Product Catalog Application.<br>
                    You can choose according to your choice.
                </p>
            </div>
            <button type="button" class="btn btn-info" style="margin-right:2%;"
            (click)="redirectToLogin()">Login</button>
            <button type="button" class="btn btn-info"
            (click)="redirectToRegister()">Register</button>
        </div>
        <div class="container" class="col" style="padding-left: 0; margin-top:85px;">
            <a (click)="goToProdHome()">
                <p class="animated-word">Explore Now</p>
            </a>
        </div>
    </div>
</div>